<!DOCTYPE html>
<html lang="en">
    <haead>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Infoware</title>
    </haead>
    <body>
        <div class="main">
            <a href="/create">CREATE EMPLOYEE</a>
            <a href="/listemp">LIST EMPLOYEE</a>
            <a href="/update">UPDATE EMPLOYEE</a>
            <a href="/delete">DELETE EMPLOYEE</a>
            <a href="/get">GET EMPLOYEE</a>
        </div>
    </body>
</html>